.form-registration {
    padding: 20px;
    background: #fafafa;
    border:  1px solid silver;
    margin-top: 20px;
}

.form-registration .helptext {color: #b7b7b7;}

.form-registration ul.errorlist {
    color: #ca5858;
    font-weight: bold;
}