body {
    background: #fafafa;
}

.alert-light {
    border-color: #bfbfbf;
}

footer {
    width: 70%;
    margin-left: 15%;
}

.user_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
}

.post-avtor {
    padding-left: 30px;
}