<!-- Наслідую все від base.html -->
{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Всі статті від автора {{ view.kwargs.username }}</h2>
    <h4>Кількість: {{ page_obj.paginator.count }}</h4>
{% for post in news %}
    <div class="alert alert-light">
        <h3>{{ post.title }}</h3>
        <!-- |striptags - фільтр ігнорує html в текстовому полі -->
        <!-- |truncatechars:200 - обрізає символи  -->
        <p>{{ post.text|striptags|truncatechars:200 }}</p>
        <div class="row align-items-start mt-2">
            <div class="col-1">
                <img src="{{ post.avtor.profile.img.url }}" alt="{{ post.avtor }}" class="user_image">
            </div>
            <div class="post-avtor col mt-2">
                <!-- |date"j F Y, час: H:i:s --- фільтр jinja для дати-->
                <span class="text-muted">Публікація: {{ post.date|date:"d E Y в: H:i" }}</span>
                    <p><b>Автор:</b> <a href="{% url 'user-news' post.avtor %}">{{ post.avtor }}</a></p>
            </div>
        </div>
        <a href="{% url 'news-detail' post.id %}" class="btn btn-outline-warning mt-2">Читати далі</a>
    </div>
{% endfor %}

<!-- Перевірка чи потрібна пагінація -->
{% if is_paginated %}
    <!-- page_obj обєкт для роботи з даними пагінації -->
    {% if page_obj.has_previous %}
        <a href="{% url 'home' %}" class="btn btn-outline-danger">Початок</a>
        <!-- previous_page_number - зберігає попередній номер сторінки -->
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Попередня</a>
    {% endif %}
    <!-- Перебераємо всі сторінки -->
    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <button class="btn btn-outline-danger">{{ num }}</button>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- has_next перевіряє чи є наступна сторінка -->
    {% if page_obj.has_next %}
        <!-- next_page_number зберігає наступний номер сторінки -->
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Наступна</a>
        <!-- paginator.num_pages  - загальна кількість сторінок -->
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Остання</a>
    {% endif %}
{% endif %}

{% endblock %}

{% block aside %}
    <img src="https://www.filepicker.io/api/file/56HSrFc0SF6eyjrGXgVZ" class="img-thumbnail">
    <p>Django - це потужний веб-фреймворк для Python, який надає інструменти для швидкої 
    розробки безпечних і масштабованих веб-додатків з готовими компонентами для автентифікації, 
    баз даних та шаблонів.</p>

    <a href="https://www.djangoproject.com/" target="_blank">
        <button class="btn btn-warning">Переглянути</button>
    </a>

    <img src="https://eduardovra.github.io/assets/img/flask-logo.png" class="img-thumbnail  mt-4">
    <p>Flask - легкий Python фреймворк для веб-додатків з мінімальними вбудованими функціями. 
    Ідеальний для розвитку малих та середніх проектів.</p>

    <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">
        <button class="btn btn-warning">Переглянути</button>
    </a>
{% endblock %}